html, body {
  background-image: url('https://i.ibb.co/LntPkLM/app-bg.jpg" alt="app-bg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

.App {
  font-family: 'Source Sans 3';
  background: transparent;
}

