#user-form {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  margin-top: 100px;
  background-color: rgb(237, 237, 237);
  padding: 50px 30px;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#user-form h1 {
  font-size: 35px;
}

#user-form p {
  padding-top: 10px;
}

#user-form .error-msg {
  color: rgb(196, 3, 3);
  font-size: 20px;
  font-weight: 500;
}