#navbar {
  text-align: center;
}

#basic-navbar-nav {
  justify-content: right;
}

#logo {
  width: 250px;
}

#nav-link {
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 25px;
}

#nav-link:hover {
  color: rgb(150, 150, 150);
}
