.workout {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.workout .drill {
  margin-left: 10px;
  margin-right: 10px;
}

.workout h1 {
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 700;
}

.workout h3 {
  font-size: 20px;
  margin-top: 40px;
}

.workout p {
  font-size: 20px;
  margin-bottom: 40px;
}

#save-btn {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 25px;
  padding-right: 30px;
  padding-left: 30px;
}